version: '3.9'

services:
  ollama:
    image: ollama/ollama
    ports:
      - '11434:11434'
    volumes:
      - ollama:/root/.ollama
    deploy:
      resources:
        limits:
          memory: 8g
          cpus: 4

  # app:
  #   build:
  #     context: .
  #     dockerfile: Dockerfile
  #   ports:
  #     - '3000:3000'
  #   depends_on:
  #     - ollama
  #   environment:
  #     OLLAMA_BASE_URL: http://ollama:11434
  #   restart: unless-stopped
  #   healthcheck:
  #     test: ['CMD', 'curl', '-f', 'http://localhost:3000/api/v1/health']
  #     interval: 30s
  #     timeout: 10s
  #     retries: 3

volumes:
  ollama:
